<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodday.proj.api.admin.repository.AdminMapper">
    <insert id="saveHelpReply">
        insert into help_reply
        values(help_re_seq.NEXTVAL, #{helpReContent}, sysdate, #{helpNo}, #{memberNo})
    </insert>

    <select id="countHelpList" resultType="_int">
        select count(*) from help
    </select>

    <select id="countHelpListByType" resultType="_int">
        select count(*) from help where help_type = #{type}
    </select>

    <resultMap id="helpResultSet" type="com.goodday.proj.api.help.model.Help">
        <id property="helpNo" column="HELP_NO"/>
        <result property="helpType" column="HELP_TYPE"/>
        <result property="helpTitle" column="HELP_TITLE"/>
        <result property="helpContent" column="HELP_CONTENT"/>
        <result property="helpCreateDate" column="HELP_CREATE_DATE"/>
        <result property="memberNo" column="MEMBER_NO"/>
        <result property="nickname" column="nickname"/>
        <collection property="images" ofType="com.goodday.proj.api.file.model.UploadFile">
            <result property="uploadFileName" column="UPLOAD_FILE_NAME"/>
            <result property="storeFileName" column="STORE_FILE_NAME"/>
        </collection>
    </resultMap>

    <select id="findHelpList" resultMap="helpResultSet">
        select HELP_NO, HELP_TYPE, HELP_TITLE, HELP_CONTENT, HELP_CREATE_DATE, MEMBER_NO, nickname, UPLOAD_FILE_NAME, STORE_FILE_NAME
        from help left join filestore on (help_no = board_no) left join member using(member_no)
        where board_type = 'HELP' AND FILE_LEVEL = 2
        order by HELP_CREATE_DATE desc
    </select>

    <select id="findHelpReplyList" resultType="com.goodday.proj.api.help.model.HelpReply">
        select help_re_no, help_re_content, help_re_create_date, member_no, nickname, help_no
        from help_reply left join member using(member_no)
        order by HELP_RE_CREATE_DATE desc
    </select>

    <select id="findHelpListByType" resultMap="helpResultSet">
        select HELP_NO, HELP_TYPE, HELP_TITLE, HELP_CONTENT, HELP_CREATE_DATE, MEMBER_NO, nickname, UPLOAD_FILE_NAME, STORE_FILE_NAME
        from help left join filestore on (help_no = board_no) left join member using(member_no)
        where board_type = 'HELP' AND FILE_LEVEL = 2 and help_type = #{type}
        order by HELP_CREATE_DATE desc
    </select>
</mapper>