<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodday.proj.api.file.repository.FileMapper">
    <delete id="deleteFile">
        delete FROM FILESTORE WHERE store_file_name = #{filename}
    </delete>

    <select id="findByFilename" resultType="com.goodday.proj.api.file.model.UploadFile">
        select upload_file_name, store_file_name from filestore where store_file_name = #{filename}
    </select>
</mapper>