<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodday.proj.api.meet.repository.MeetingMapper">
    <select id="countMeetingList" resultType="int">
        select count(*) from meeting where meet_status = 'Y'
    </select>

    <resultMap id="meetingResultSet" type="com.goodday.proj.api.meet.model.Meeting">
        <id property="meetNo" column="MEET_NO"/>
        <result property="meetTitle" column="MEET_TITLE"/>
        <result property="meetContent" column="MEET_CONTENT"/>
        <result property="meetAddress" column="MEET_ADDRESS"/>
        <result property="meetTotal" column="MEET_TOTAL"/>
        <result property="application" column="APPLICATION"/>
        <result property="openKakao" column="OPENKAKAO"/>
        <result property="meetCreateDate" column="MEET_CREATE_DATE"/>
        <result property="memberNo" column="MEMBER_NO"/>
        <result property="nickname" column="NICKNAME"/>
        <association property="thumbnail" javaType="com.goodday.proj.api.file.model.UploadFile">
            <result property="uploadFileName" column="UPLOAD_FILE_NAME"/>
            <result property="storeFileName" column="STORE_FILE_NAME"/>
        </association>
    </resultMap>

    <select id="findMeetingList" resultMap="meetingResultSet">
        SELECT
            meeting.MEET_NO,
            MEET_TITLE,
            MEET_CONTENT,
            MEET_ADDRESS,
            MEET_TOTAL,
            OPENKAKAO,
            MEET_CREATE_DATE,
            MEMBER_NO,
            nickname,
            UPLOAD_FILE_NAME,
            STORE_FILE_NAME,
            (SELECT COUNT(meet_no) FROM en_meeting WHERE en_meeting.meet_no = meeting.MEET_NO) AS APPLICATION
        FROM
            meeting
                LEFT JOIN filestore ON (meeting.meet_no = filestore.board_no)
                LEFT JOIN member USING (member_no)
        WHERE
            meet_status = 'Y' AND BOARD_TYPE = 'MEETING' AND FILE_LEVEL = 1
        ORDER BY
            MEET_CREATE_DATE DESC
    </select>

    <insert id="saveMeeting">
        insert all
	        into MEETING values (meet_seq.NEXTVAL, #{meetTitle}, #{meetContent}, #{meetTotal}, #{meetAddress}, #{openKakao}, sysdate, #{memberNo}, default)
	        into FILESTORE values (file_seq.NEXTVAL, #{thumbnail.uploadFileName}, #{thumbnail.storeFileName}, meet_seq.CURRVAL, 1, 'MEETING')
	        into EN_MEETING values (meet_seq.CURRVAL, #{memberNo})
            select * from dual
    </insert>

    <select id="findByMeetNo" resultMap="meetingResultSet">
        SELECT
            meeting.MEET_NO,
            MEET_TITLE,
            MEET_CONTENT,
            MEET_ADDRESS,
            MEET_TOTAL,
            OPENKAKAO,
            MEET_CREATE_DATE,
            MEMBER_NO,
            nickname,
            UPLOAD_FILE_NAME,
            STORE_FILE_NAME,
            (SELECT COUNT(meet_no) FROM en_meeting WHERE en_meeting.meet_no = meeting.MEET_NO) AS APPLICATION
        FROM
            meeting
                LEFT JOIN filestore ON (meeting.meet_no = filestore.board_no)
                LEFT JOIN member USING (member_no)
        WHERE
            meet_status = 'Y' AND BOARD_TYPE = 'MEETING' AND FILE_LEVEL = 1 and meet_no = #{meetNo}
    </select>

    <delete id="deleteFileByStoreFileName">
        DELETE FROM FILESTORE WHERE STORE_FILE_NAME = #{storeFileName}
    </delete>

    <delete id="deleteApplicationByMeetNo">
        delete from en_meeting where meet_no = #{meetNo}
    </delete>

    <delete id="deleteByMeetNo">
        delete from meeting where meet_no = #{meetNo}
    </delete>

    <update id="updateFileByStoreFileName" parameterType="Map">
        update FILESTORE
        set store_file_name = #{storeFileName},
            upload_file_name = #{uploadFileName}
        where store_file_name = #{afterStoreFileName}
    </update>

    <update id="updateMeeting" parameterType="Map">
        update MEETING
        set meet_title = #{meetTitle},
            meet_content = #{meetContent},
            meet_Address = #{meetAddress},
            meet_total = #{meetTotal},
            openkakao = #{openKakao}
        where meet_no = #{meetNo} and member_no = #{memberNo}
    </update>

    <insert id="addMeetingJoin" parameterType="Map">
        insert into en_meeting
        values (#{meetNo}, #{memberNo})
    </insert>

    <delete id="deleteMeetingJoin" parameterType="Map">
        DELETE FROM en_meeting
        WHERE meet_no = #{meetNo} and member_no = #{memberNo}
    </delete>

    <select id="findApplicationListByMeetNo" resultType="com.goodday.proj.api.member.dto.MemberSessionInfo">
        select member_no, member_id, nickname, admin
        from en_meeting left join member using(member_no)
        where meet_no = #{meetNo}
    </select>

    <select id="countMyMeetingListByMemberNo" resultType="int">
        select count(*) from meeting where meet_status = 'Y' and member_no = #{memberNo}
    </select>

    <select id="findMeetingListByMemberNo" resultMap="meetingResultSet">
        SELECT
            meeting.MEET_NO,
            MEET_TITLE,
            MEET_CONTENT,
            MEET_ADDRESS,
            MEET_TOTAL,
            OPENKAKAO,
            MEET_CREATE_DATE,
            MEMBER_NO,
            nickname,
            UPLOAD_FILE_NAME,
            STORE_FILE_NAME,
            (SELECT COUNT(meet_no) FROM en_meeting WHERE en_meeting.meet_no = meeting.MEET_NO) AS APPLICATION
        FROM
            meeting
                LEFT JOIN filestore ON (meeting.meet_no = filestore.board_no)
                LEFT JOIN member USING (member_no)
        WHERE
            meet_status = 'Y' AND BOARD_TYPE = 'MEETING' AND FILE_LEVEL = 1 and MEMBER_NO = #{memberNo}
        ORDER BY
            MEET_CREATE_DATE DESC
    </select>
</mapper>