<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodday.proj.api.meet.repository.MeetingMapper">
    <select id="countProductList" resultType="int">
        select count(*) from meeting where meet_status = 'Y'
    </select>

    <select id="selectProductList" resultType="com.goodday.proj.api.meet.model.Meeting">
        select MEET_NO, MEET_TITLE, MEET_CONTENT, MEET_ADDRESS, MEET_TOTAL, OPENKAKAO, MEET_CREATE_DATE, MEMBER_NO, MEET_STATUS, UPLOAD_FILE_NAME, STORE_FILE_NAME
               from meeting left join filestore on (meet_no = board_no)
                 where meet_status = 'Y' AND BOARD_TYPE = 'MEET'
        order by meet_create_date desc
    </select>
</mapper>