<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodday.proj.api.shop.repository.ShopMapper">
    <select id="countProductList" resultType="int">
        select count(*) from product
    </select>

    <select id="selectProductList" resultType="com.goodday.proj.api.shop.model.Product">
        select * from product
        order by pro_create_date desc
    </select>
<!--TODO proNo seq 만들기-->
    <insert id="save">
        insert All
        into product
        values (pro_seq.NEXTVAL, #{proName}, #{proContent}, #{proPrice}, #{proInventory}, sysdate)
        into FILESTORE
        values (file_seq.NEXTVAL, #{thumbnail.uploadFileName}, #{thumbnail.storeFileName}, pro_seq.CURRVAL, 1)
        <foreach collection="images" item="item" separator=",">
            INTO filestore
            VALUES (file_seq.NEXTVAL, #{item.uploadFileName}, #{item.storeFileName}, pro_seq.CURRVAL, 2)
        </foreach>
        SELECT * FROM DUAL
    </insert>

    <select id="findByNo">

    </select>
</mapper>